<div class="container" ng-controller="AboutCtrl as about">
    <div class="row">
        <div class="col-lg-6 well info">
            <h4>{{ about.contactTitle }}</h4>
            <ul class="list-unstyled">
                <li ng-repeat="contact in about.contacts">
                    <i class="{{ contact.iconClass }}"></i>
                    <span class="sr-only">{{ contact.contactSrOnlyText }}</span>
                    <a href=" {{ contact.contactLink }} ">{{ contact.contactLinkText }}</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 well info">
            <ul class="list-unstyled">
                <h4>{{ about.educationTitle }}</h4>
                <li ng-repeat="education in about.educations">
                    <i class="fa fa-graduation-cap"></i>
                    <span>{{ education.degreeAndMajor }}</span>
                    <i class="university">
                        {{ education.university }} <span class="year">{{ education.year }}</span>
                    </i>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="well skills aside section col-lg-12">
            <div class="section-inner">
                <h2 class="heading">
                    {{ about.skillsTitle }}
                </h2>
                <div class="content">
                    <p class="intro">
                        {{ about.skillsContent }}
                    </p>
                    <div class="skillset">
                        <div class="item" ng-repeat="skill in about.skills">
                            <h3 class="level-title">
                                {{ skill.skillName }}<span class="level-label">{{ skill.skillLevel }}</span>
                            </h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="{{ skill.skillWidth }}" ng-style="{{ skill.skillWidthStyle }}"></div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                    </div>
                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </div>
    </div>
    <div class="row">
        <div class="well col-lg-12">
            <h2 class="heading">{{ about.workExperienceTitle }}</h2>
            <ul class="timeline">
                <li ng-repeat="job in about.jobs">
                    <div class="timeline-panel-left" ng-if="job.jobYearLeft != ''">
                        <div class="timeline-heading">
                            <h4>{{ job.jobYearLeft }}</h4>
                            <h4 class="subheading">{{ job.jobTitleLeft }}</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">{{ job.jobContentLeft }}</p>
                        </div>
                    </div>
                    <div class="timeline-image">
                        <img class="rounded-circle img-circle" ng-src="{{ job.jobImage }}" alt="">
                    </div>
                    <div class="timeline-panel-right" ng-if="job.jobYearRight != ''">
                        <div class="timeline-heading">
                            <h4>{{ job.jobYearRight }}</h4>
                            <h4 class="subheading">{{ job.jobTitleRight }}</h4>
                        </div>
                        <div class="timeline-body-projects">
                            <p class="text-muted">{{ job.jobContentRight }}</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <h4>Be Part
                            <br>Of Our
                            <br>Story!</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>