<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="navCollapsed = !navCollapsed" href="#">Profile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li><a href="#!/about" ng-click="navCollapsed = !navCollapsed">About</a></li>
                <li><a href="#!/projects" ng-click="navCollapsed = !navCollapsed">Projects</a></li>                
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li uib-dropdown>
                    <a href uib-dropdown-toggle>Blogs <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href="#!/projects" ng-click="navCollapsed = !navCollapsed">FrontEnd</a></li>
                        <li><a href="#">BackEnd</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Database And Analysis</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

