<div ng-controller="HomeCtrl as home">
  <!-- ******HEADER****** -->
  <header class="header">
    <div class="container">
      <img class="profile-image img-responsive pull-left" ng-src="{{ home.myAvatar }}" alt="{{ home.fullName }}" />
      <div class="profile-content pull-left">
        <h1 class="name">{{ home.fullName }}</h1>
        <h2 class="title">{{ home.title }}</h2>
        <ul class="social list-inline">
          <li ng-repeat="social in home.socials">
            <a href="{{ social.link }}">
              <i class="{{ social.icon }}"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--//profile-->
      <a class="btn btn-cta-primary pull-right" ng-href="{{ home.contactMeUrl }}" target="_blank">
        <i class="fa fa-paper-plane"></i> Contact Me
      </a>
    </div>
    <!--//container-->
  </header>
  <!--//header-->

  <div class="jumbotron">
    <h2>{{ home.aboutMeTitle }}</h2>
    <p>{{ home.aboutMeContent }}</p>
    <p>
      <a class="btn btn-primary btn-lg" ng-href="{{ home.aboutUrl }}" role="button">
        {{ home.aboutMeText }}
      </a>
    </p>
  </div>

  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in home.slides track by slide.id" index="slide.id">
        <img ng-src="{{ slide.image }}" style="margin:auto;">
        <div class="carousel-caption"></div>
      </div>
    </div>
  </div>
</div>