<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing" ng-controller="View1Ctrl as projects">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" ng-repeat="project in projects.projectList1">
            <img class="img-circle" ng-src="{{ project.image }}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{ project.title }}</h2>
            <p>{{ project.content }}</p>
            <p><a class="btn btn-default" href="{{ project.link }}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->        
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" ng-repeat="project in projects.projectList2">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ project.title }} <span class="text-muted">{{ project.subTitle }}</span></h2>
            <p class="lead">{{ project.content }}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block img-thumbnail" ng-src="{{ project.image }}" alt="Generic placeholder image">
        </div>
    </div>
    <!-- /END THE FEATURETTES -->   

</div><!-- /.container -->
